
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index3</h2>

<br />
<div style="width:800px;height:800px;">

    <img src="@Url.Action("Index3","Grafik")" />
</div>
