@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />

<div class="card mb-4">
    <div class="card-body" style="background-color:aliceblue;color:gray;border-style:none">
       Departman Adı: @ViewBag.dptID
    </div>
</div>


<table class="table table-hover">
    <tr>
        <th>Personel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.personelAd @x.personelSoyad</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.personelID" class="btn btn-info" style="color:white">Satışlar</a></td>
        </tr>
    }

</table>